<header>
    Page header
    <ul>
        <% if(locals.user){ %>
            <li><a style="background-color: red;color: white;text-decoration: none;" href="/users/signout">SignOut</a></li>
        <% }else{ %>
            <li><a href="/users/signup">SignUp</a></li>
            <li><a href="/users/signin">SignIn</a></li>
        <% } %>
    </ul>
</header>