<link rel="stylesheet" href="/css/users.css">
<div id="div1">
<h1><%= userPage %></h1>
<p><%= locals.user.name %></p>
<p><%= locals.user.email %></p>
</div>
<script src="/js/jquery-3.7.0.js"></script>
<script src="/js/usersActions.js"></script>