#div1{
    width: 100%;
    height: 180px;
    background-image: url('../images/background.webp');
    color: chartreuse;
    overflow: scroll;
}

#div1::-webkit-scrollbar{
    display: none;
  }

#users-feed{
    height: 500px;
    overflow: scroll;
}

#users-feed::-webkit-scrollbar{
    display: none;
  }

h1{
    color: chartreuse;
}

#users-feed{
    display: flex;
}


#feed-post{
    width:70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#friends_profile{
    width: 25%;
    padding: 10px;
    border-left: 1px solid black;
}

.commentsection{
    border-bottom: 1px solid black;
}

h4{
    margin-bottom: 0.5rem;
}

form{
    display: flex;
    flex-wrap: wrap;
}

form textarea{
    resize: none;
    width: 80%;
    border-radius: 0.5em;
}

form button{
    border-radius: 0.5em;
    width: 15%;
    background-color: #2a86ef;
    border: 1.5px solid black;
}

form button:hover{
    cursor: pointer;
    background-color: darkblue;
    color: white;
}

#feed-post div{
    width: 25rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contents{
    width: 80%;
    text-align: left;
    overflow: hidden;
}

#feed-post div p{
    margin-top: 10px;
    margin-bottom: 5px;
}